<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Rupert Scott</h1>
        <p> am a Computer Science student who finds joy in coding. In my second year of study 
            tryng to find out what area i like the most in the field. I am interested in Web Development 
            as it has become a crucial asset today with the huge growth of ecommerce / online stores.
        </p>
    </body>
</html>